@model OnlineShop.Models.SpecialTag
@{
    ViewData["Title"] = "Create";
}

<h2 class="text-info">Create Special Tag</h2>
<form asp-action="Create" method="post">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="SPecialTag"></label>
            </div>
            <div class="col-5">
                <input asp-for="SPecialTag" class="form-control" />
            </div>
            <span asp-validation-for="SPecialTag" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a asp-action="index" class="btn btn-success">Back to list</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync(partialViewName: "_ValidationScriptsPartial.cshtml");}
}